In [1]:
from credentials import user, password, rds_host
import pymysql
import pandas as pd
from boston_functions import *
import re
import numpy as np
from liquid import liquids
from garnish import garnishes
import random

In [2]:
data = pd.read_csv("./mr-boston-all-glasses.csv")

data = data[data.loc[:, "glass-size"].notna()]
# data

In [3]:
valid_units = ["oz", "tsp", "splash", "dash"]

fill_liquid = ["ginger ale", "carbonated water", "cola", "water", "chilled champagne", "soda water", 
               "club soda", "ginger ale or soda water", "lemon-lime soda", "ginger beer", "bitter lemon soda",
               "apple juice", "orange juice"]

invaild_ingredients = ['chopped', 'cut in half', 'cut in halves', 'cut into halves', 'flamed', 'hulled', 'long', 'skinned',
                       'whipped', "preferably b.a. reynold's", 'preferably jamaican', 'preferably japanese', 
                       'preferably pedro ximenez', "such as bittermen's elemakule", 'such as demerara', 
                       'such as islay or skye', 'such as nasturtium']

ingredient_indicies = range(3, 14)

In [4]:
categories = list(set(data.iloc[:, 1])) + ["AI Instant Classic"]

In [5]:
all_recipies, measures = get_cocktail_recipies(data, ingredient_indicies, liquids, garnishes, invaild_ingredients, valid_units)

In [6]:
# measures

In [7]:
all_recipies[1]

{'name': 'Fort Lauderdale',
 'category': 'Cocktail Classics',
 'instructions': 'Shake with ice and strain into old-fashioned glass over ice cubes. Add a slice of orange.',
 'glass': 'Old-Fashioned Glass',
 'glass_size': 6,
 'recipe': [['1 1/2 oz', 'batavia arrack or light rum'],
  ['1/2 oz', 'sweet vermouth'],
  ['1/4 oz', 'each cranberry juice and orange juice'],
  ['1/4 oz', "rose's lime juice"]]}

In [8]:
#set empty lists for cocktail names, glass names, and glass sizes
names = []
glasses = []
glass_sizes = []

# locate cocktail names, glass names, and glass sizes
for i in range(len(all_recipies)):
    names.append(all_recipies[i]["name"])
    glasses.append(all_recipies[i]["glass"])
    glass_sizes.append(all_recipies[i]["glass_size"])
#create df
glass_df = pd.DataFrame({"cocktail_name": names, "glass_name": glasses, "glass_size": glass_sizes})

# glass_df.head()

In [9]:
#read glass svg csv
svg_data = pd.read_csv("../glasses.csv")
svg_data.head()

,mask,maskHeight,maskTopMargin,name,path
0,"m 43.972082,0.754995 c -0.0081,0.25817 -0.0643...",28.0,1.0,COCKTAIL_1,"m 18.233415,27.465585 c -1.678156,-1.38771 -2...."
1,"M 20.289051,33.296931 C 19.290178,31.958842 18...",33.0,1.5,champagne_flute,"M 20.229203,33.296931 C 19.23033,31.958842 18...."
2,"m 41.615,1.72 c 0,0 -1.500626,2.4979518 -2.263...",24.0,1.5,cocktail_sm_martini,"m 18.029995,23.735654 c -0.785523,-0.535326 -1..."
3,"m 11.238,1.6429413 c 0,0 0.843577,2.9274173 0....",33.5,1.5,poco_grande,"M 17.33604,34.049118 C 15.163032,33.299665 12...."
4,"m 41.544,16.418 c 0,0 -0.01131,3.428254 -0.003...",37.5,16.5,ROCK,"M 4.158169,53.270076 C 3.5567763,52.526162 3.6..."

In [10]:
# df = svg_data.loc[svg_data["name"]=="fluted_lager", :]
# df['mask'].to_string(index=False)

In [11]:
# #set empty lists for svg data
# masks = []
# paths = []
# mask_heights = []
# mask_top_margins = []

# #match mr. boston  db glass names with svg glass names
# for i in range(len(glass_df)):
#     glass_name = glass_df.iloc[i, 1]
#     if glass_name == "Beer Mug":
#         df = svg_data.loc[svg_data["name"]=="fluted_lager", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif (glass_name == "Brandy Snifter") or (glass_name == "Red-Wine Glass") or (glass_name == "White-Wine Glass"):
#         df = svg_data.loc[svg_data["name"]=="poco_grande", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Champagne Flute":
#         df = svg_data.loc[svg_data["name"]=="champagne_extra_fluted", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Cocktail Glass":
#         df = svg_data.loc[svg_data["name"]=="cocktail_lg", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Collins Glass":
#         df = svg_data.loc[svg_data["name"]=="collins", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif (glass_name == "Cordial or Pony Glass") or (glass_name == "Pousse-Cafe Glass") or (glass_name == "Sherry Glass"):
#         df = svg_data.loc[svg_data["name"]=="pousse_cafe", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Highball Glass":
#         df = svg_data.loc[svg_data["name"]=="highball", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Hurricane Glass":
#         df = svg_data.loc[svg_data["name"]=="hurricane", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Irish Coffee Glass":
#         df = svg_data.loc[svg_data["name"]=="irish_coffee", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Old-Fashioned Glass":
#         df = svg_data.loc[svg_data["name"]=="old_fashioned", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif (glass_name == "Punch Cup") or (glass_name == "Shot Glass"):
#         df = svg_data.loc[svg_data["name"]=="rocks", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
#     elif glass_name == "Sour Glass":
#         df = svg_data.loc[svg_data["name"]=="champagne_flute", :]
#         masks.append(df["mask"].to_string(index=False))
#         paths.append(df["path"].to_string(index=False))
#         mask_heights.append(df["maskHeight"].to_string(index=False))
#         mask_top_margins.append(df["maskTopMargin"].to_string(index=False))
# # print(len(masks), len(paths), len(mask_heights), len(mask_top_margins))

# #add svg info to glass df
# glass_df["mask"] = masks
# glass_df["path"] = paths
# glass_df["mask_height"] = mask_heights
# glass_df["mask_top_margin"] = mask_top_margins
# glass_df.head()

In [12]:
def populate_glass_table(glass_df):
    conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
    cursor = conn.cursor()
    cursor.execute('USE cocktailproject')
    for row in range(len(glass_df)):
        glass_name = glass_df.iloc[row, 1]
        glass_size = glass_df.iloc[row, 2]
        mask = glass_df.iloc[row, 3]
        path = glass_df.iloc[row, 4]
        mask_height = glass_df.iloc[row, 5]
        mask_top_margin = glass_df.iloc[row, 6]
        print(glass_name, glass_size)
        sql = f"INSERT INTO Glasses (Glass_Name, Glass_Size, Mask, Path, Mask_Height, Mask_Top_Margin) VALUES ('{glass_name}', '{glass_size}', '{mask}', '{path}', '{mask_height}', '{mask_top_margin}');"
        cursor.execute(sql)
    conn.commit()
    cursor.execute("SELECT * FROM Glasses")
    data = cursor.fetchall()
    print(data)
    conn.close()
# populate_glass_table(glass_df)

In [13]:
cocktail_table_sql = "CREATE TABLE Cocktails ( \
                        Cocktail_ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT \
                        , Cocktail_Name VARCHAR(80) \
                        , Glass_ID INT \
                        , Category_ID INT \
                        , FOREIGN KEY (Glass_ID) REFERENCES Glasses(Glass_ID) \
                        , FOREIGN KEY (Category_ID) REFERENCES Categories(Category_ID) \
                        );"

In [17]:
#set empty lists for category and glass ids
category_ids = []
glass_ids = []

#connect to sql
conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
#create cursor object
cursor = conn.cursor()
#use cocktail db
cursor.execute('USE cocktailproject')

#for each recipe,
for i in range(len(all_recipies)):
    #find cocktail category
    category = all_recipies[i]["category"]
    
    #select category id and append to category id list
    sql = f"SELECT Category_ID FROM Categories WHERE Category_Name='{category}'"
    cursor.execute(sql)
    data = cursor.fetchall()
    category_ids.append(data[0][0])
    
    #select glass id and append to glass id list
    sql = f"SELECT Glass_ID FROM Glasses WHERE Glass_Name='{glasses[i]}'"
    cursor.execute(sql)
    data = cursor.fetchall()
    glass_ids.append(data[0][0])

#close sql connection
conn.close()
# print(category_ids[0], glass_ids[0])

In [18]:
#set empty lists for instructions
instructions_list = []
instr_lengths = []
#for all recipes,
for i in range(len(all_recipies)):
    #find instructions and append to instructions list
    instructions = all_recipies[i]["instructions"]
    instructions_list.append(instructions)
    instr_lengths.append(len(instructions))

In [19]:
#create cocktail df
cocktail_df = pd.DataFrame({"cocktail_name": names, "glass_id": glass_ids, "category_ids": category_ids, "instructions": instructions_list})
cocktail_df.head()

,cocktail_name,glass_id,category_ids,instructions
0,Gauguin,1,6,Combine ingredients with a cup of crushed ice ...
1,Fort Lauderdale,1,6,Shake with ice and strain into old-fashioned g...
2,Apple Pie,1,1,Pour into ice-filled old-fashioned glass. Garn...
3,Cuban Cocktail No. 1,4,6,Shake with ice and strain into cocktail glass.
4,Cool Carlos,5,6,"Mix all ingredients except curacao with ice, s..."

In [20]:
def populate_cocktail_table(cocktail_df):
    conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
    cursor = conn.cursor()
    cursor.execute('USE cocktailproject')
    for row in range(len(cocktail_df)):
        cocktail_name = cocktail_df.iloc[row, 0]
        glass_id = cocktail_df.iloc[row, 1]
        category_id = cocktail_df.iloc[row, 2]
        instructions = cocktail_df.iloc[row, 3]
        print(cocktail_name)
        sql = f"INSERT INTO Cocktails (Cocktail_Name, Glass_ID, Category_ID, Instructions) VALUES ('{cocktail_name}', '{glass_id}', '{category_id}', '{instructions}');"
        cursor.execute(sql)
    conn.commit()
    cursor.execute("SELECT * FROM Cocktails")
    data = cursor.fetchall()
    print(data)
    conn.close()
# populate_cocktail_table(cocktail_df)

In [21]:
liquid_instructions_table_sql = "CREATE TABLE Liquid_Instuctions ( \
                                Liquid_Instruction_ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT \
                                , Cocktail_ID INT \
                                , Liquid_ID INT \
                                , Measure VARCHAR(24) \
                                , FOREIGN KEY (Cocktail_ID) REFERENCES Cocktails(Cocktail_ID) \
                                , FOREIGN KEY (Liquid_ID) REFERENCES Liquids(Liquid_ID) \
                                );"

In [51]:
all_recipies[2]

{'name': 'Apple Pie',
 'category': 'Cordials and Liqueurs',
 'instructions': 'Pour into ice-filled old-fashioned glass. Garnish with apple and top with cinnamon.',
 'glass': 'Old-Fashioned Glass',
 'glass_size': 6,
 'recipe': [['3 oz', 'apple schnapps'],
  ['1 oz', 'cinnamon schnapps'],
  ['add', 'pineapple slices']]}

In [ ]:
#set empty lists for cocktail ids, liquid ingredients and measures
cocktail_ids_list = []
liquid_ingredient_list = []
liquid_measure_list = []

#for each recipe,
for i in range(len(all_recipies)):
    #set cocktail_id
    cocktail_id = cocktail_id_list[i]
    #find ingredient list
    ingredient_list = all_recipies[i]["recipe"]
    #for each non-garnish ingredient,
    for measure, ingredient in ingredient_list:
        if measure == "add":
            pass
        elif ingredient == "pimm's cup":
            pass
        #add to lists
        else:
            cocktail_ids_list.append(cocktail_id)
            liquid_measure_list.append(measure)
            liquid_ingredient_list.append(ingredient)
            
#connect to sql
conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
#create cursor object
cursor = conn.cursor()
#use cocktail db
cursor.execute('USE cocktailproject')

#set empty list for liquid ids
liquid_ids = []

#for each ingredient,
for ingredient in liquid_ingredient_list:
    print(ingredient)
    if ingredient[:6] == "rose's":
        ingredient = ingredient[7:]
        print(ingredient)
        #select liquid id and append to liquid id list
        sql = f'SELECT Liquid_ID FROM Liquids WHERE Liquid_Name="{ingredient}"'
        cursor.execute(sql)
        data = cursor.fetchall()
        print(data[0][0])
        liquid_ids.append(data[0][0])
    elif ingredient[:8] =="peychaud":
        ingredient = "peychauds bitters"
        print(ingredient)
        #select liquid id and append to liquid id list
        sql = f'SELECT Liquid_ID FROM Liquids WHERE Liquid_Name="{ingredient}"'
        cursor.execute(sql)
        data = cursor.fetchall()
        print(data[0][0])
        liquid_ids.append(data[0][0])
    else:
        #select liquid id and append to liquid id list
        sql = f'SELECT Liquid_ID FROM Liquids WHERE Liquid_Name="{ingredient}"'
        cursor.execute(sql)
        data = cursor.fetchall()
        print(data[0][0])
        liquid_ids.append(data[0][0])

#close sql connection
conn.close()
    
liquid_ingredients_df = pd.DataFrame({"cocktail_id": cocktail_ids_list, "liquid_id": liquid_ids, 
                                      "measure": liquid_measure_list})

liquid_ingredients_df.head()

In [53]:
print(len(cocktail_ids_list), len(liquid_ids), len(liquid_measure_list))

3323 3323 3323

In [ ]:
def populate_liquid_instructions_table(liquid_instructions_df):
    conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
    cursor = conn.cursor()
    cursor.execute('USE cocktailproject')
    for row in range(len(liquid_instructions_df)):
        cocktail_id = liquid_instructions_df.iloc[row, 0]
        liquid_id = liquid_instructions_df.iloc[row, 1]
        measure = liquid_instructions_df.iloc[row, 2]
        print(liquid_id, measure)
        sql = f"INSERT INTO Liquid_Instuctions (Cocktail_ID, Liquid_ID, Measure) VALUES ('{cocktail_id}', '{liquid_id}', '{measure}');"
        cursor.execute(sql)
    conn.commit()
    cursor.execute("SELECT * FROM Liquid_Instuctions")
    data = cursor.fetchall()
    print(data)
    conn.close()
# populate_liquid_instructions_table(liquid_ingredients_df)

In [ ]:
garnish_instructions_table_sql = "CREATE TABLE Garnish_Instuctions ( \
                                    Garnish_Instruction_ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT \
                                    , Cocktail_ID INT \
                                    , Garnish_ID INT \
                                    , FOREIGN KEY (Cocktail_ID) REFERENCES Cocktails(Cocktail_ID) \
                                    , FOREIGN KEY (Garnish_ID) REFERENCES Garnishes(Garnish_ID) \
                                    );"

In [ ]:
#set empty lists for cocktail ids, liquid ingredients and measures
cocktail_ids_list = []
garnish_ingredient_list = []

#for each recipe,
for i in range(len(all_recipies)):
    #set cocktail_id
    cocktail_id = cocktail_id_list[i]
    #find ingredient list
    ingredient_list = all_recipies[i]["recipe"]
    #for each non-garnish ingredient,
    for measure, ingredient in ingredient_list:
        if measure != "add":
            pass
        else:
            cocktail_ids_list.append(cocktail_id)
            garnish_ingredient_list.append(ingredient)
            
#connect to sql
conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
#create cursor object
cursor = conn.cursor()
#use cocktail db
cursor.execute('USE cocktailproject')

#set empty list for liquid ids
garnish_ids = []

#for each ingredient,
for ingredient in garnish_ingredient_list:
    print(ingredient)
#     if ingredient[:6] == "rose's":
#         ingredient = ingredient[7:]
#         print(ingredient)
#         #select liquid id and append to liquid id list
#         sql = f'SELECT Liquid_ID FROM Liquids WHERE Liquid_Name="{ingredient}"'
#         cursor.execute(sql)
#         data = cursor.fetchall()
#         print(data[0][0])
#         liquid_ids.append(data[0][0])
#     elif ingredient[:8] =="peychaud":
#         ingredient = "peychauds bitters"
#         print(ingredient)
#         #select liquid id and append to liquid id list
#         sql = f'SELECT Liquid_ID FROM Liquids WHERE Liquid_Name="{ingredient}"'
#         cursor.execute(sql)
#         data = cursor.fetchall()
#         print(data[0][0])
#         liquid_ids.append(data[0][0])
#     else:
    #select liquid id and append to liquid id list
    sql = f'SELECT Garnish_ID FROM Garnishes WHERE Garnish_Name="{ingredient}"'
    cursor.execute(sql)
    data = cursor.fetchall()
    print(data[0][0])
    garnish_ids.append(data[0][0])

#close sql connection
conn.close()
    
garnish_ingredients_df = pd.DataFrame({"cocktail_id": cocktail_ids_list, "garnish_id": garnish_ids})

garnish_ingredients_df.head()

In [57]:
def populate_garnish_instructions_table(garnish_instructions_df):
    conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
    cursor = conn.cursor()
    cursor.execute('USE cocktailproject')
    for row in range(len(garnish_instructions_df)):
        cocktail_id = garnish_instructions_df.iloc[row, 0]
        garnish_id = garnish_instructions_df.iloc[row, 1]
        print(garnish_id)
        sql = f"INSERT INTO Garnish_Instuctions (Cocktail_ID, Garnish_ID) VALUES ('{cocktail_id}', '{garnish_id}');"
        cursor.execute(sql)
    conn.commit()
    cursor.execute("SELECT * FROM Garnish_Instuctions")
    data = cursor.fetchall()
    print(data)
    conn.close()
populate_garnish_instructions_table(garnish_ingredients_df)

81
85
68
83
83
27
70
19
47
48
41
31
83
55
81
33
35
85
85
113
27
85
85
48
71
45
83
71
85
48
29
128
48
81
85
85
83
112
124
71
94
85
71
85
70
48
76
83
48
48
48
55
104
55
41
48
98
39
49
12
19
69
119
111
35
48
71
32
25
92
59
59
48
83
85
70
83
71
48
83
48
49
103
76
48
83
48
48
68
83
85
19
95
55
6
83
49
103
19
111
83
71
39
39
48
103
13
33
71
48
31
6
39
111
83
83
68
83
83
70
68
48
48
49
103
114
76
48
85
111
71
41
85
20
83
85
111
127
19
20
19
85
85
19
111
85
111
85
19
19
48
111
85
111
85
20
85
85
19
111
85
55
103
29
19
68
20
19
71
19
71
120
105
111
85
48
19
85
71
85
19
85
85
111
85
111
76
48
85
111
19
76
68
20
85
19
85
19
107
111
20
71
19
111
85
85
133
122
19
55
71
85
85
71
19
85
19
71
48
19
85
20
19
19
85
19
85
111
85
42
22
21
55
7
48
85
19
71
85
111
111
85
20
17
88
85
49
103
49
19
19
85
19
85
49
103
85
11
111
111
85
69
83
19
85
19
85
17
17
6
83
85
19
19
55
70
69
55
103
69
39
85
20
9
19
111
19
6
19
85
111
85
20
114
48
85
19
55
103
85
85
19
19
111
6
83
85
20
19
76
76
6
83
48
83
111
85
68
79
20
85
19
117
19
6
19
111
48
19
85
111
17
27
29
83
63
69
85
20
85
19
55
19
39
85
19
19
20
85
6
83
19
85
84
111
85
111
90
60
19
35
85
19
39
83
85
19
24
85
19
68
19
19
29
19
40
55
19
19
111
111
85
71
71
127
19
85
69
48
45
83
19
55
6
83
48
48
48
68
128
68
83
85
128
89
27
101
35
6
107
20
83
83
83
83
71
55
39
27
48
35
55
55
27
29
71
20
85
68
83
83
55
55
19
19
49
135
103
37
10
49
103
37
69
48
83
37
55
10
49
69
48
85
85
48
23
55
103
48
30
22
99
21
22
134
71
48
131
17
34
98
47
55
103
107
111
69
109
115
19
6
83
70
48
85
103
55
45
83
118
116
57
48
55
103
69
83
85
20
9
68
6
83
19
85
69
49
103
49
55
103
112
17
27
17
29
111
69
85
55
129
19
85
48
85
85
103
83
71
69
48
39
55
103
92
48
55
129
69
93
69
69
111
35
48
83
6
85
70
83
29
35
85
83
48
17
17
69
39
55
83
55
68
103
38
85
71
83
48
69
48
53
6
45
83
71
69
55
103
6
39
48
35
129
55
103
69
39
39
55
103
55
48
35
19
85
55
112
69
33
112
98
69
71
48
55
48
103
68
83
39
17
26
17
20
35
108
34
23
48
71
55
103
((1, 54, 81), (2, 54, 85), (3, 55, 68), (4, 55, 83), (5, 55, 83), (6, 103, 27), (7, 103, 70), (8, 124, 19), (9, 126, 47), (10, 126, 48), (11, 129, 41), (12, 131, 31), (13, 131, 83), (14, 131, 55), (15, 141, 81), (16, 191, 33), (17, 191, 35), (18, 191, 85), (19, 191, 85), (20, 191, 113), (21, 197, 27), (22, 197, 85), (23, 197, 85), (24, 221, 48), (25, 226, 71), (26, 228, 45), (27, 228, 83), (28, 230, 71), (29, 234, 85), (30, 246, 48), (31, 246, 29), (32, 253, 128), (33, 254, 48), (34, 289, 81), (35, 292, 85), (36, 292, 85), (37, 292, 83), (38, 298, 112), (39, 298, 124), (40, 299, 71), (41, 301, 94), (42, 301, 85), (43, 301, 71), (44, 301, 85), (45, 305, 70), (46, 322, 48), (47, 322, 76), (48, 322, 83), (49, 332, 48), (50, 342, 48), (51, 344, 48), (52, 344, 55), (53, 344, 104), (54, 346, 55), (55, 346, 41), (56, 346, 48), (57, 348, 98), (58, 348, 39), (59, 348, 49), (60, 348, 12), (61, 348, 19), (62, 348, 69), (63, 351, 119), (64, 351, 111), (65, 351, 35), (66, 351, 48), (67, 361, 71), (68, 361, 32), (69, 371, 25), (70, 371, 92), (71, 371, 59), (72, 371, 59), (73, 371, 48), (74, 374, 83), (75, 374, 85), (76, 374, 70), (77, 374, 83), (78, 383, 71), (79, 383, 48), (80, 398, 83), (81, 398, 48), (82, 398, 49), (83, 398, 103), (84, 398, 76), (85, 401, 48), (86, 401, 83), (87, 401, 48), (88, 401, 48), (89, 401, 68), (90, 409, 83), (91, 409, 85), (92, 409, 19), (93, 409, 95), (94, 411, 55), (95, 418, 6), (96, 418, 83), (97, 418, 49), (98, 418, 103), (99, 418, 19), (100, 418, 111), (101, 421, 83), (102, 421, 71), (103, 437, 39), (104, 437, 39), (105, 437, 48), (106, 437, 103), (107, 437, 13), (108, 437, 33), (109, 440, 71), (110, 440, 48), (111, 470, 31), (112, 470, 6), (113, 470, 39), (114, 482, 111), (115, 482, 83), (116, 482, 83), (117, 499, 68), (118, 499, 83), (119, 507, 83), (120, 507, 70), (121, 507, 68), (122, 507, 48), (123, 524, 48), (124, 524, 49), (125, 524, 103), (126, 524, 114), (127, 524, 76), (128, 531, 48), (129, 534, 85), (130, 534, 111), (131, 534, 71), (132, 534, 41), (133, 534, 85), (134, 534, 20), (135, 534, 83), (136, 554, 85), (137, 554, 111), (138, 554, 127), (139, 554, 19), (140, 562, 20), (141, 567, 19), (142, 567, 85), (143, 572, 85), (144, 572, 19), (145, 572, 111), (146, 572, 85), (147, 572, 111), (148, 572, 85), (149, 586, 19), (150, 586, 19), (151, 586, 48), (152, 587, 111), (153, 587, 85), (154, 587, 111), (155, 587, 85), (156, 587, 20), (157, 587, 85), (158, 587, 85), (159, 587, 19), (160, 588, 111), (161, 588, 85), (162, 588, 55), (163, 588, 103), (164, 624, 29), (165, 628, 19), (166, 628, 68), (167, 628, 20), (168, 628, 19), (169, 628, 71), (170, 633, 19), (171, 637, 71), (172, 637, 120), (173, 637, 105), (174, 654, 111), (175, 654, 85), (176, 654, 48), (177, 654, 19), (178, 654, 85), (179, 654, 71), (180, 655, 85), (181, 655, 19), (182, 655, 85), (183, 655, 85), (184, 668, 111), (185, 668, 85), (186, 668, 111), (187, 668, 76), (188, 668, 48), (189, 668, 85), (190, 668, 111), (191, 669, 19), (192, 669, 76), (193, 669, 68), (194, 669, 20), (195, 669, 85), (196, 674, 19), (197, 674, 85), (198, 674, 19), (199, 674, 107), (200, 674, 111), (201, 692, 20), (202, 692, 71), (203, 692, 19), (204, 692, 111), (205, 692, 85), (206, 699, 85), (207, 699, 133), (208, 699, 122), (209, 699, 19), (210, 700, 55), (211, 700, 71), (212, 700, 85), (213, 706, 85), (214, 706, 71), (215, 714, 19), (216, 714, 85), (217, 714, 19), (218, 714, 71), (219, 714, 48), (220, 714, 19), (221, 714, 85), (222, 718, 20), (223, 718, 19), (224, 725, 19), (225, 725, 85), (226, 725, 19), (227, 725, 85), (228, 746, 111), (229, 746, 85), (230, 746, 42), (231, 746, 22), (232, 746, 21), (233, 757, 55), (234, 757, 7), (235, 764, 48), (236, 764, 85), (237, 764, 19), (238, 764, 71), (239, 767, 85), (240, 767, 111), (241, 767, 111), (242, 767, 85), (243, 767, 20), (244, 767, 17), (245, 767, 88), (246, 771, 85), (247, 771, 49), (248, 771, 103), (249, 771, 49), (250, 772, 19), (251, 772, 19), (252, 772, 85), (253, 772, 19), (254, 772, 85), (255, 781, 49), (256, 781, 103), (257, 781, 85), (258, 781, 11), (259, 781, 111), (260, 795, 111), (261, 795, 85), (262, 795, 69), (263, 795, 83), (264, 795, 19), (265, 795, 85), (266, 795, 19), (267, 796, 85), (268, 796, 17), (269, 796, 17), (270, 808, 6), (271, 808, 83), (272, 813, 85), (273, 813, 19), (274, 813, 19), (275, 816, 55), (276, 816, 70), (277, 816, 69), (278, 816, 55), (279, 816, 103), (280, 816, 69), (281, 818, 39), (282, 818, 85), (283, 818, 20), (284, 818, 9), (285, 822, 19), (286, 822, 111), (287, 822, 19), (288, 829, 6), (289, 829, 19), (290, 829, 85), (291, 829, 111), (292, 834, 85), (293, 834, 20), (294, 834, 114), (295, 840, 48), (296, 840, 85), (297, 840, 19), (298, 840, 55), (299, 841, 103), (300, 869, 85), (301, 869, 85), (302, 869, 19), (303, 869, 19), (304, 869, 111), (305, 875, 6), (306, 875, 83), (307, 875, 85), (308, 875, 20), (309, 878, 19), (310, 878, 76), (311, 878, 76), (312, 878, 6), (313, 878, 83), (314, 878, 48), (315, 878, 83), (316, 885, 111), (317, 885, 85), (318, 885, 68), (319, 885, 79), (320, 885, 20), (321, 885, 85), (322, 885, 19), (323, 885, 117), (324, 937, 19), (325, 937, 6), (326, 939, 19), (327, 939, 111), (328, 939, 48), (329, 940, 19), (330, 948, 85), (331, 948, 111), (332, 948, 17), (333, 948, 27), (334, 948, 29), (335, 948, 83), (336, 948, 63), (337, 948, 69), (338, 949, 85), (339, 949, 20), (340, 949, 85), (341, 949, 19), (342, 949, 55), (343, 949, 19), (344, 949, 39), (345, 951, 85), (346, 951, 19), (347, 951, 19), (348, 968, 20), (349, 968, 85), (350, 968, 6), (351, 968, 83), (352, 968, 19), (353, 968, 85), (354, 968, 84), (355, 978, 111), (356, 978, 85), (357, 978, 111), (358, 995, 90), (359, 997, 60), (360, 997, 19), (361, 997, 35), (362, 997, 85), (363, 997, 19), (364, 997, 39), (365, 1001, 83), (366, 1015, 85), (367, 1015, 19), (368, 1015, 24), (369, 1025, 85), (370, 1025, 19), (371, 57, 68), (372, 57, 19), (373, 60, 19), (374, 61, 29), (375, 61, 19), (376, 61, 40), (377, 61, 55), (378, 64, 19), (379, 65, 19), (380, 65, 111), (381, 66, 111), (382, 66, 85), (383, 66, 71), (384, 66, 71), (385, 67, 127), (386, 67, 19), (387, 67, 85), (388, 68, 69), (389, 68, 48), (390, 69, 45), (391, 69, 83), (392, 70, 19), (393, 70, 55), (394, 72, 6), (395, 72, 83), (396, 72, 48), (397, 72, 48), (398, 72, 48), (399, 73, 68), (400, 73, 128), (401, 73, 68), (402, 73, 83), (403, 75, 85), (404, 75, 128), (405, 75, 89), (406, 75, 27), (407, 75, 101), (408, 76, 35), (409, 76, 6), (410, 77, 107), (411, 77, 20), (412, 79, 83), (413, 79, 83), (414, 80, 83), (415, 80, 83), (416, 80, 71), (417, 80, 55), (418, 80, 39), (419, 81, 27), (420, 81, 48), (421, 81, 35), (422, 82, 55), (423, 82, 55), (424, 82, 27), (425, 82, 29), (426, 83, 71), (427, 83, 20), (428, 83, 85), (429, 83, 68), (430, 83, 83), (431, 83, 83), (432, 83, 55), (433, 84, 55), (434, 84, 19), (435, 84, 19), (436, 84, 49), (437, 84, 135), (438, 84, 103), (439, 84, 37), (440, 84, 10), (441, 84, 49), (442, 84, 103), (443, 84, 37), (444, 84, 69), (445, 85, 48), (446, 86, 83), (447, 86, 37), (448, 86, 55), (449, 86, 10), (450, 87, 49), (451, 87, 69), (452, 87, 48), (453, 88, 85), (454, 88, 85), (455, 88, 48), (456, 89, 23), (457, 89, 55), (458, 89, 103), (459, 89, 48), (460, 89, 30), (461, 89, 22), (462, 89, 99), (463, 89, 21), (464, 89, 22), (465, 89, 134), (466, 91, 71), (467, 91, 48), (468, 91, 131), (469, 93, 17), (470, 93, 34), (471, 93, 98), (472, 93, 47), (473, 94, 55), (474, 94, 103), (475, 94, 107), (476, 94, 111), (477, 95, 69), (478, 95, 109), (479, 95, 115), (480, 96, 19), (481, 96, 6), (482, 96, 83), (483, 96, 70), (484, 97, 48), (485, 97, 85), (486, 98, 103), (487, 98, 55), (488, 98, 45), (489, 98, 83), (490, 98, 118), (491, 98, 116), (492, 98, 57), (493, 98, 48), (494, 99, 55), (495, 99, 103), (496, 99, 69), (497, 99, 83), (498, 100, 85), (499, 100, 20), (500, 100, 9), (501, 100, 68), (502, 100, 6), (503, 100, 83), (504, 100, 19), (505, 100, 85), (506, 100, 69), (507, 101, 49), (508, 101, 103), (509, 101, 49), (510, 101, 55), (511, 101, 103), (512, 101, 112), (513, 102, 17), (514, 102, 27), (515, 102, 17), (516, 102, 29), (517, 102, 111), (518, 102, 69), (519, 106, 85), (520, 106, 55), (521, 106, 129), (522, 109, 19), (523, 109, 85), (524, 109, 48), (525, 109, 85), (526, 110, 85), (527, 110, 103), (528, 110, 83), (529, 114, 71), (530, 114, 69), (531, 115, 48), (532, 116, 39), (533, 116, 55), (534, 116, 103), (535, 121, 92), (536, 121, 48), (537, 121, 55), (538, 123, 129), (539, 123, 69), (540, 128, 93), (541, 128, 69), (542, 134, 69), (543, 135, 111), (544, 135, 35), (545, 135, 48), (546, 135, 83), (547, 135, 6), (548, 136, 85), (549, 136, 70), (550, 136, 83), (551, 136, 29), (552, 136, 35), (553, 137, 85), (554, 139, 83), (555, 139, 48), (556, 142, 17), (557, 142, 17), (558, 142, 69), (559, 142, 39), (560, 142, 55), (561, 142, 83), (562, 143, 55), (563, 143, 68), (564, 143, 103), (565, 143, 38), (566, 144, 85), (567, 144, 71), (568, 145, 83), (569, 145, 48), (570, 146, 69), (571, 146, 48), (572, 146, 53), (573, 146, 6), (574, 147, 45), (575, 147, 83), (576, 147, 71), (577, 148, 69), (578, 149, 55), (579, 149, 103), (580, 149, 6), (581, 149, 39), (582, 149, 48), (583, 150, 35), (584, 150, 129), (585, 150, 55), (586, 150, 103), (587, 150, 69), (588, 150, 39), (589, 150, 39), (590, 150, 55), (591, 150, 103), (592, 151, 55), (593, 151, 48), (594, 151, 35), (595, 151, 19), (596, 152, 85), (597, 152, 55), (598, 152, 112), (599, 153, 69), (600, 153, 33), (601, 154, 112), (602, 154, 98), (603, 154, 69), (604, 154, 71), (605, 156, 48), (606, 157, 55), (607, 157, 48), (608, 157, 103), (609, 157, 68), (610, 158, 83), (611, 158, 39), (612, 158, 17), (613, 158, 26), (614, 158, 17), (615, 158, 20), (616, 158, 35), (617, 159, 108), (618, 161, 34), (619, 161, 23), (620, 161, 48), (621, 163, 71), (622, 163, 55), (623, 163, 103))

In [ ]:
rating_table_sql = "CREATE TABLE Ratings ( \
                Rating_ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT \
                , Rating INT \
                , Cocktail_ID INT\
                , FOREIGN KEY (Cocktail_ID) REFERENCES Cocktails(Cocktail_ID) \
                );"

In [27]:
#connect to sql, create cursor object, and use cocktail db
conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
cursor = conn.cursor()
cursor.execute('USE cocktailproject')

sql = "SELECT Cocktail_ID FROM Cocktails"
cursor.execute(sql)
data = cursor.fetchall()
cocktail_ids_data = data
cocktail_ids = []
for i in range(len(cocktail_ids_data)):
    
    cocktail_ids.append(cocktail_ids_data[i][0])


conn.close()
len(cocktail_ids)

976

In [28]:
cocktail_id_list = []
ratings_list = []
for _id in cocktail_ids:
    for i in range(5):
        cocktail_id_list.append(_id)
        ratings_list.append(random.randint(1,5))

rating_df = pd.DataFrame({"rating": ratings_list, "cocktail_id": cocktail_id_list})

In [ ]:
def populate_rating_table(rating_df):
    conn = pymysql.connect(rds_host, user=user, password=password, connect_timeout=50)
    cursor = conn.cursor()
    cursor.execute('USE cocktailproject')
    for row in range(len(rating_df)):
        rating = rating_df.iloc[row, 0]
        cocktail_id = rating_df.iloc[row, 1]
        print(rating)
        sql = f"INSERT INTO Ratings (Rating, Cocktail_ID) VALUES ('{rating}','{cocktail_id}');"
        cursor.execute(sql)
    conn.commit()
    cursor.execute("SELECT * FROM Ratings")
    data = cursor.fetchall()
    print(data)
    conn.close()
# populate_rating_table(rating_df)